html:not(.ie).wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    visibility: hidden;
  }
}

.logo-element {
  fill: #1f242c;
}

.svg-stratim-box-st0 {
  opacity: .7;

  fill: #1f242c;
  enable-background: new;
}

.svg-stratim-box-st1 {
  opacity: .68;

  fill: url(#SVG_STRBOX_1);
  enable-background: new;
}

.svg-stratim-box-st2 {
  opacity: .8;

  fill: #1f242c;
  enable-background: new;
}

.svg-stratim-box-st3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-dasharray: 100,10;
}

.st2 {
  opacity: 4.000000e-02;

  fill: url(#SVG_STRBOX_2);
}

.st3 {
  fill: url(#SVG_STRBOX_3);
  enable-background: new;
}

.st4 {
  opacity: 4.000000e-02;

  fill: url(#SVG_STRBOX_4);
}

.st5 {
  opacity: .8;

  fill: #1f242c;
  enable-background: new;
}

.st6 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-dasharray: 100,10;
}

.st7 {
  opacity: .47;

  fill: url(#SVG_STRBOX_5);
  enable-background: new;
}

.st8 {
  opacity: 5.000000e-02;

  fill: url(#SVG_STRBOX_6);
}

.svg-hiw-st1 {
  opacity: .1;

  fill: none;
  stroke: #dcf0ff;
  stroke-width: .5;
  stroke-miterlimit: 10;
  stroke-dasharray: 50 5;
  stroke-dashoffset: 55;
}

.svg-hiw-st2 {
  fill: #545b69;
}

.svg-hiw-st3 {
  fill: #14171d;
}

.svg-hiw-st4 {
  cursor: pointer;

  opacity: 0;

  fill: none;
  stroke: white;
  stroke-width: 15;
}

.svg-hiw-st5 {
  cursor: pointer;

  opacity: 0;

  fill: none;
  stroke: white;
  stroke-width: 8;
}

.svg-hiw-st6 {
  cursor: pointer;

  opacity: 0;

  fill: none;
  stroke: white;
  stroke-width: 25;
}

.svg-hiw-st7 {
  opacity: 1;

  fill: none;
  stroke: #fff;
  stroke-width: .5;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

.svg-hiw-st8 {
  opacity: 1;

  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

.hiw-nav-st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  stroke-miterlimit: 10;
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  stroke-miterlimit: 10;
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  stroke-miterlimit: 10;
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 150 20;
}

.st1 {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 50 300;
}
